<div>
<h1>Out MongoDB is working!</h1>

<ul *ngFor="let user of users">
  <li >Rent: {{ user.Rent }}</li>
  <li >Maid: {{ user.Maid}}</li>
  <li >Travelling: {{ user.Travelling }}</li>
  <li >Investment: {{ user.Investment }}</li>
  <li >Grocessary: {{ user.Grocessary }}</li>
  <li >Personal Expense: {{ user.PersonalExpense }}</li>
</ul>
</div>

<div>
  SSN Search:
  <input type="search" id="search" placeholder="Enter SSN" #ssnvalue>
  <button (click)="performSearch(ssnvalue.value)">Search Data</button>
</div>

<div>
  <canvas
      baseChart
      [chartType]="'pie'"
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [legend]="true"
      [colors]="pieChartColor"
      (chartClick)="onChartClick($event)">
  </canvas>
</div>